<h1>
    {{item._source.item_name}}
    <small>
        {{retailer}}
    </small>
</h1>
<div class='row'>
    <div class='col-sm-3'>
        <img ng-src='{{item._source.image}}' style='height: 20em;' />
    </div>
    <div class='col-sm-9'>
        <h2 >
            <s ng-if='item._source.on_sale' class='text-muted small'>
                ${{item._source.item_original_price.toFixed(2)}}
            </s>
            <span>
                ${{item._source.item_price.toFixed(2)}}
            </span>
            <small ng-if='item._source.on_sale' >
                <span class='label label-sm label-warning'>On sale!</span>
            </small>
        </h2>
        <p>
            {{item._source.description}}
        </p>
    </div>
</div>
<p>
    <strong>Comes in:</strong>
    <span ng-repeat='color in item._source.colors'>
        {{color}}<span ng-if='!$last'>,</span>
    </span>
</p>
<p>
    <a ng-href='{{item._source.link}}'>See it at {{retailerDomain}}</a>
</p>
