<div class='container-fluid'>
    <div class='row'>
        <span class='col-lg-12'>
            <input placeholder='Search' ng-model='searchString' ng-model-options='{debounce: 500}' class='form-control input-lg'/>
        </span>
    </div>

    <div ng-repeat='row in itemRows' class='row' style='margin-bottom:2em;'>
        <div class='item col-sm-3' ng-repeat='item in row' >
            <a ng-href='#/item/{{item._source.id}}'>
                <img ng-src='{{item._source.image}}' style='height:10em;' />
                <div class='title'>
                    <span>{{item._source.item_name}}</span>,
                    <strong>${{item._source.item_price}}</strong>
                </div>
            </a>
        </div>
    </div>
</div>
